
.korisnikDiv {
    float:right;
    
}
.glavniDiv{
    float:left;
}
.sredina{
    text-align:center;
}

.desno{
    text-align:right;
}
#myMap {
    height: 350px;
    width: 680px;
}
.border {
    border-width: 2px;
    border-style: solid;
    border-color: blue;
}